*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 47px 0 130px 42px;
}
.link-header {
    font-weight:400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(23, 35, 61, 1);
    cursor: pointer;
}
.button-header {
    background:#6FBF44;
    border-radius: 19.5;
    width: 124px;
    height: 51px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: #ffffff;
}
.logo-image {
    width: 534px;
    height: 467px;
    margin-left: 121px;
    display: inline-block;
}
section {
    display: inline-block;
    margin: 86px;
}
h1 {
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}
p {
    font-weight: 400px;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    width: 493px;
}
